@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}   
:root{
    --menu-left-start: 10px;
    --btn-logo-gap: 60px;
    --menu-width: 240px;
}
header {
    display: flex;
    flex-direction: row;
    background: #333;
    color: #aaa;
    align-items: center;
    position: relative;
}
header button{
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    outline: none;
    margin-left: 10px;
    transition: color 120ms ease-in-out, left 240ms linear;
}
header button.close{
    color: #aaa;
    left: var(--menu-left-start);
}
header button.open{
    color: #ddd;
    left: calc(var(--menu-left-start) + var(--menu-width));
}
.admin-title{
    left: calc(var(--menu-left-start) + var(--btn-logo-gap));
    position: absolute;
    font-size: 24px;
    display: block;
    font-weight: 500;
    padding: 0px 20px;
    transition: left 240ms linear;
}
button.open+.admin-title{
    left: calc(var(--menu-left-start) + var(--menu-width) + var(--btn-logo-gap));
}

.admin-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
}
.admin-nav li {
    margin: 10px;
}
aside{
    position: absolute;
    height: 100vh;
    background: #333;
    width: var(--menu-width);
    transition: left 240ms linear;
}
aside.close{
    left: calc( 0px - var(--menu-width) );
}
aside.open{
    display: flex;
    left: 0px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}
main{
    transition: padding 240ms linear;
    padding: 0px 2px;
}
@media (min-width:640px){
    aside.open+main{
        padding-left: var(--menu-width);
        box-sizing: border-box;
    }
}
@media (min-width:500px){
    main{
        padding: 0px 10px;
    }
}
@media (min-width:768px){
    main{
        padding: 0px 20px;
    }
    aside.open+main{
        padding-left: var(--menu-width) + 20px;
    }
}
@media (min-width:1280px){
    main{
        padding: 0px 40px;
    }
    aside.open+main{
        padding-left: var(--menu-width) + 40px;
    }
}
footer{
    height: 20px;
    width: 100%;
    margin-top: auto;
    background: #333;
}


.breadcrums{
    background: #333;
    margin: 10px 0px;
    font-size: 16px;
    color: #aaa;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 500;
}
.breadcrums a{
    transition: color 120ms ease-in-out;
}
.breadcrums a:hover, .breadcrums a:active{
    color: #ddd;
}